# --- Archivos de Sistema (Basura) ---
.DS_Store
Thumbs.db

# --- Logs y Errores ---
*.log

# --- Claves y Secretos (¡Muy Importante!) ---
.env

# --- Javascript / Node ---
node_modules/
dist/
build/

# --- Python ---
__pycache__/
*.pyc
venv/
env/

# --- Latex ---
*.aux
*.log
*.fls
*.out
*.pdf
*.toc
*.synctex.gz
*.fdb_latexmk
*.blg
*.bbl
